@font-face {
  font-family: "grouchregular";
  src: url("../fonts/grouch_regular-webfont.woff2") format("woff2"),
    url("../fonts/grouch_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "renner";
  src: url("../fonts/renner-medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "renner-light";
  src: url("../fonts/renner-light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: futura-pt, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
}

/* -----Nav Bar----- */
.section-nav {
  width: 100%;
  height: 50px;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav-row1 {
  width: 100%;
  height: 100%;
  display: flex;
}

.nav-row1-col1 {
  width: 50px;
  height: 100%;
  color: #fff;
}

.hamburger-container {
  width: 50px;
  height: 50px;
  padding: 20px 0 0 16px;
  cursor: pointer;
}

.hamburger-row1,
.hamburger-row2,
.hamburger-row3 {
  height: 4px;
  width: 15px;
  border-top: 2px solid #000;
}

.nav-row1-col2 {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -10;
}

.nav-logo {
  width: 55%;
  height: 50%;
  vertical-align: middle;
}

.nav-row1-col3 {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}

.nav-row1-col3-cola,
.nav-row1-col3-colb {
  font-size: 0.6em;
  font-weight: 400;
}

.nav-row1-col3-cola {
  padding-right: 30px;
}

.nav-row1-col3-cola a,
.nav-row1-col3-colb a {
  color: #000;
  text-decoration: none;
  letter-spacing: 2.5px;
}

.nav-row1-col3-cola a:hover,
.nav-row1-col3-colb a:hover {
  text-decoration: underline;
}

.search-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* ----- Next Button ----- */
.next {
  width: 0;
  height: 0;
  border-bottom: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000000;
  background-color: transparent;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 90;
  outline: none;
  color: transparent;
  cursor: pointer;
}

/* ----- Main ----- */
.carousel-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
}

.carousel-slideUp {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-slideDown {
  display: none;
}

/* ----- Cards ---- */
.divs {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.always-hidden {
  display: none;
}

/* -----Left Column ----- */
/* -----Card Type 1 ----- */
.type-1col1-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.type-1col1-image-container {
  height: 45%;
}

.col1-image {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
  object-position: 50% 20%;
}

.mobile-only {
  width: 100%;
  height: 55%;
}

.mobile-title {
  width: 100%;
  font-family: "grouchregular", serif;
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
  padding: 32px 64px 16px;
  line-height: 1.2em;
}

.mobile-blurb {
  width: 100%;
  font-family: "renner", serif;
  font-weight: bold;
  font-size: 0.95em;
  text-align: center;
  padding: 0 64px;
  letter-spacing: 1.3px;
  line-height: 1.2em;
}

.mobile-title:hover {
  text-decoration: underline;
}

/* -----Card Type 2 ----- */
.type-2col1 {
  position: relative;
  background-color: #f4f2e7;
  display: flex;
  justify-content: center;
  padding-top: 85px;
}

.type-2col1-container {
  width: 100%;
}

.type-2col1-text {
  text-align: center;
}

.type-2col1-text p {
  font-family: "renner-light", serif;
  font-size: 0.7em;
  letter-spacing: 1.3px;
}

.type-2col1-text a {
  color: #000;
  text-decoration: none;
  line-height: 1.5em;
}

.type-2col1-text a:hover {
  text-decoration: underline;
}

.type-2col1-text a h3 {
  font-family: "renner", serif;
  font-size: 0.9em;
  letter-spacing: 1.1px;
  padding: 16px 40px;
}

.type-2col1-blurb {
  display: none;
}

.triangle {
  display: none;
}

.type-2col1-image-container {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.type-2col1-image-container img {
  width: 100%;
}

/* ----- Card 1 ----- */
.card1-col2-mobile {
  background-color: #ffa67a !important;
}

/* ----- card-nl ----- */
.cardnl-col1,
.card-sub-col1 {
  position: relative;
  margin: 0;
  padding-top: 88px;
  background-color: #daf3f5;
  text-align: center;
}

.cardnl-col1 img,
.card-sub-col1 img {
  width: 70%;
  height: auto;
  object-fit: contain;
  object-position: 0;
}

/* ----- Aside Section ----- */
.aside-window {
  width: 100%;
  height: 100vh;
  z-index: 99;
  position: fixed;
  top: 0;
  left: -100%;
  opacity: 0;
  background-color: #f8f8f8;
  transition: left 0.2s ease-in-out;
}

.aside-top {
  background-color: #fff;
  height: 528px;
}

.aside-title {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  cursor: pointer;
}

.aside-close {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside-logo-container {
  width: 100%;
  text-align: center;
  position: relative;
}

.aside-logo {
  width: 125px;
  margin: 0 auto;
}

.aside-menu {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.aside-menu-item,
.aside-menu-item-last {
  padding: 0;
  margin: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  background-color: #fff;
}

.aside-menu-item {
  border-bottom: 1px solid #f8f8f8;
}

.aside-menu-item:hover,
.aside-menu-item-last:hover {
  background-color: #ffdb00;
}

.aside-menu a {
  width: 100%;
  text-decoration: none;
  color: #000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.aside-bottom {
  background-color: #f8f8f8;
}

.aside-bottom p {
  text-align: center;
  font-weight: 500;
  font-size: 0.8em;
  margin: 24px 0 10px;
}

.aside-newsletter {
  margin: 0 auto;
  width: 250px;
  border: 1px solid #000;
  display: flex;
}

.aside-email {
  border: none;
  width: 66.666%;
  margin: 0;
  padding: 0 10px;
  height: 44px;
  letter-spacing: 1.2px;
  outline-color: #000;
  outline-width: 3px;
  outline-offset: -3px;
  cursor: pointer;
}

.aside-submit {
  width: 33.334%;
  height: 44px;
  border: none;
  background-color: #000;
  color: #fff;
  letter-spacing: 1.3px;
  font-size: 0.5em;
  cursor: pointer;
}

.aside-submit:hover {
  background-color: #333;
}

.aside-privacy {
  padding: 0 0 20px 0;
}

.aside-privacy a,
.aside-privacy span {
  color: #000;
  font-weight: 500;
  font-size: 0.85em;
}

.social-media {
  width: 100%;
  display: flex;
  justify-content: center;
}

.aside-social-containers,
.aside-social-container-last {
  background-color: #000;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facebook:hover {
  background-color: #3b5998;
}

.instagram:hover {
  background-color: #c13584;
}

.twitter:hover {
  background-color: #1da1f2;
}

.pinterest:hover {
  background-color: #c8232c;
}

.youtube:hover {
  background-color: #c4302b;
}

.aside-social-containers {
  margin-right: 16px;
}

.aside-social-img {
  width: 15px;
  height: 15px;
}

/* ----- Slideshow Opacity Change ----- */
.opacity-change1,
.opacity-change2,
.opacity-change3,
.opacity-change4,
.opacity-change5,
.opacity-change6,
.opacity-change7,
.opacity-change8,
.opacity-change9,
.opacity-change10,
.opacity-change11,
.opacity-change12,
.opacity-change13,
.opacity-change14,
.opacity-change15,
.opacity2-change1,
.opacity2-change2,
.opacity2-change3,
.opacity2-change4,
.opacity2-change5,
.opacity2-change6,
.opacity2-change7,
.opacity2-change8,
.opacity2-change9,
.opacity2-change10,
.opacity2-change11,
.opacity2-change12,
.opacity2-change13,
.opacity2-change14,
.opacity2-change15 {
  opacity: 0;
  transition: opacity 0.1s ease-in 0.4s;
}

.opacity-change0,
.opacity2-change0 {
  transition: opacity 0.1s ease-in 0.4s;
}
