/* Colors
Light Grey(background) = #f8f8f8
Dark Grey(background) = #e2e1e1
White(background) = #fff
Yellow(muted) = #fbdc7f
Yellow(brighter) = #ffdb00 
Vanilla = #fbfaf1
Salmon = #ffa67a
Blue = #33b8ff
*/
@font-face {
  font-family: 'grouchregular';
  src: url('../fonts/grouch_regular-webfont.woff2') format('woff2'),
       url('../fonts/grouch_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'renner';
  src: url('../fonts/renner-medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


* {
  font-family: futura-pt,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
}

.section-nav {
  width: 100%;
  height: 50px;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav-row1 {
  width: 100%;
  height: 100%;
  display: flex;
}

.nav-row1-col1 {
  width: 33.3333%;
  height: 100%;
  color: #fff;
  
}

.hamburger-container {
  width: 50px;
  height: 50px;
  padding: 20px 0 0 16px;
  cursor: pointer;
}

.hamburger-row1, 
.hamburger-row2, 
.hamburger-row3 {
  height:4px;
  width: 15px;
  border-top: 2px solid #000;
}

.nav-row1-col2 {
  width: 33.3333%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo {
  height: 55%;
}

.nav-row1-col3 {
  width: 33.3333%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-row1-col3-cola,
.nav-row1-col3-colb {
  font-size: .60em;
  font-weight: 400;
}

.nav-row1-col3-cola {
  padding-right: 30px;
}

.nav-row1-col3-cola a,
.nav-row1-col3-colb a{
  color: #000;
  text-decoration: none;
  letter-spacing: 2.5px;
}

.nav-row1-col3-cola a:hover,
.nav-row1-col3-colb a:hover {
  text-decoration: underline;
}

.search-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* ----- Card1 ----- */
.card {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.col1,
.col2{
  width: 50%;
  height: 100vh;
}

.col1-image {
  height: 100%;
  width: 100%;
  object-fit:cover;
  object-position: 50% 50%;
}

.card1-col2 {
  background-color: #ffa67a;
  display: flex;
  align-items: center;
}

.card1-col2-text-container {
  width: 350;
  margin: 0 auto 0 80;
}

.card1-col2-text {
  width: 100%;
}

.card1-col2-text a {
  text-decoration: none;
  color: #000;
}

.card1-col2-text a h1 {
  font-family: 'grouchregular', serif;
  font-weight: 500;
  font-size: 3.2em;
  margin-top: 0;
  margin-bottom: 16;
  line-height: 1.2;
  letter-spacing: -3;
}

.card1-col2-text a:hover {
  text-decoration: underline;
}

.card1-col2-blurb {
  width: 60%;
}

.card1-col2-blurb p {
  margin-top: 0;
  font-family: 'renner', serif;
  font-weight: bold;
  font-size: 1.20em;
  line-height: 1.4;
}

/* ----- Card2 ----- */