/* Colors
Light Grey(background) = #f8f8f8
Dark Grey(background) = #e2e1e1
White(background) = #fff
Yellow(muted) = #fcdd78 
Yellow(brighter) = #ffdb00 
Salmon = #ffa675
Blue = #33b8ff
*/

* {
  font-family: futura-pt,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
}

.section-nav {
  width: 100%;
  height: 50px;
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav-row1 {
  width: 100%;
  height: 100%;
  display: flex;
}

.nav-row1-col1 {
  width: 33.3333%;
  height: 100%;
  color: #fff;
  
}

.hamburger-container {
  width: 50px;
  height: 50px;
  padding: 20px 0 0 16px;
  cursor: pointer;
}

.hamburger-container:hover {
  background-color: #333;
}

.hamburger-row1, 
.hamburger-row2, 
.hamburger-row3 {
  height:4px;
  width: 15px;
  border-top: 2px solid white;
}

.nav-row1-col2 {
  width: 33.3333%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo {
  height: 85%;
  width: 90%;
}

.nav-row1-col3 {
  width: 33.3333%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-row1-col3-cola,
.nav-row1-col3-colb {
  font-size: .60em;
  font-weight: 400;
}

.nav-row1-col3-cola {
  padding-right: 30px;
}

.nav-row1-col3-cola a,
.nav-row1-col3-colb a{
  color: #fff;
  text-decoration: none;
  letter-spacing: 2.5px;
}

.nav-row1-col3-cola a:hover,
.nav-row1-col3-colb a:hover {
  text-decoration: underline;
}

.search-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-container:hover {
  background-color: #333;
}

.main-container {
  width: 100%;
  position: relative;
  top: 50px;
}

/* ----- Recipe Section ----- */
.section-recipe {
  background-color: #f8f8f8;
  padding: 0px 5%;
  position: relative;
}

.recipe-row1 {
  width: 100%;
  display: flex;
  margin: 60px 0 150px;
  position: relative;
}

.recipe-header {
  position: absolute;
  top: -16;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffdb00;
  padding: 8 10;
  font-weight: 500;
  font-size: .70em;
  letter-spacing: 1;
}

.recipe-row1-col1 {
  width: 50%;
}

.recipe-img1 {
  width: 100%;
}

.recipe-row1-col2 {
  width: 50%; 
  background-color: #ffdb00;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-text-container {
  height: 450px;
  width: 450px;
  text-align: center;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.recipe-text-container:hover > .recipe-title{
  text-decoration: underline;
}

.recipe-text-container h1 {
  padding: 0;
  margin: 32 32 20 32;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.34;
  letter-spacing: 1;
}

.recipe-text-container p {
  padding: 0;
  margin: 0 100;
  font-size: .9em;
  font-weight: 500;
  letter-spacing: 1;
  line-height: 1.75;
}


.recipe-row2 {
  width: 100%;
  display: flex;
  margin: 0px 0 90px;
  position: relative;
}

.recipe-header2 {
  position: absolute;
  top: -16;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffdb00;
  padding: 8 10;
  font-weight: 500;
  font-size: .70em;
  letter-spacing: 1;
}

.recipe-row2-col1,
.recipe-row2-col2,
.recipe-row2-col3 {
  width: 33.333%;
}

.recipe-row2-col1,
.recipe-row2-col2 {
  margin-right: 20px;
}

.recipe-img2,
.recipe-img3,
.recipe-img4 {
  width: 100%;
}

.recipe-row2-text-container {
  height: 110px;
  padding: 0 10;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

.recipe-row2-text-container a{
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.2em;
}

.recipe-row2-text-container a:hover{
  text-decoration: underline;
}

/* ----- Video1 Section ----- */

.section-video1 {
  background-color: #e2e1e1;
  width: 100%;
  padding: 80 0;
}

.video1-container {
  width: 57%;
  margin: 0 auto;
}

.video1-row1 {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.shrimp-stir-fry-video {
  width: 100%;
}

.play-button {
  background-color: #fff;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%)
}

.video1-row2 {
  width: 100%;
  background-color: #fff;
}

.video1-text-container {
  width: 500px;
  text-align: center;
  margin: 0 auto;
  padding: 2% 0;
}

.video1-text-container a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 1.75em;
}

.video1-text-container a:hover {
  text-decoration: underline;
}

/* ----- Culture Product Section ----- */

.section-culture-product {
  width: 100%;
  background-color: #f8f8f8;
  padding: 0px 5%;
  position: relative;
}

.culture-p-row1 {
  width: 100%;
  display: flex;
  margin: 60px 0;
  position: relative;
}

.culture-p-header {
  position: absolute;
  top: -16;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 8 10;
  font-weight: 500;
  font-size: .70em;
  letter-spacing: 1;
  border: 1px solid #fff;
}

.culture-p-row1-col1 {
  width: 50%;
}

.culture-p-img1 {
  width: 100%;
}

.culture-p-row1-col2 {
  width: 50%; 
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.culture-p-text-container {
  height: 450px;
  width: 450px;
  text-align: center;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.culture-p-line-container {
  display: flex;
  justify-content: center;
}

.culture-p-line {
  color:#fff;
  margin: 30 0 0;
  font-weight: 300;
  font-size: .75em;
  letter-spacing: 2.5;
}

.culture-p-line:after{
  content: "";
  display: inline-block;
  width: 50;
  vertical-align:middle;
  border-bottom: 1px solid;
}

.culture-p-line2 {
  color:#fff;
  margin: 30 0 0 10;
  font-weight: 300;
  font-size: .75em;
  letter-spacing: 2.5;
}

.culture-p-text-container:hover > .culture-title{
  text-decoration: underline;
}

.culture-p-text-container h1 {
  padding: 0;
  margin: 30 32;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.34;
  letter-spacing: 1;
  color: #fff;
}

.culture-p-text-container p {
  padding: 0;
  margin: 0 60;
  font-size: .9em;
  font-weight: 400;
  letter-spacing: 1.1;
  line-height: 1.75;
  color: #fff;
}

/* ----- Culure Food Section ---- */

.section-culture-food {
  width: 100%;
  background-color: #fff;
  padding: 0px 5%;
  position: relative;
  border: 1px solid #fff;
}

.culture-f-row1 {
  width: 100%;
  margin: 60px 0;
  position: relative;
}

.culture-f-header {
  position: absolute;
  top: -16;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 8 10;
  font-weight: 500;
  font-size: .70em;
  letter-spacing: 1;
  border: 1px solid #fff;
  z-index: 10;
}

.culture-f-row1-col1 {
  width: 100%;
  position: relative;
}

.culture-f-img1 {
  width: 100%;
}

.culture-f-text-container {
  position: absolute;
  width: 45%;
  background-color: #ffdb00;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.culture-f-text-container h1 {
  font-weight: 700;
  font-size: 2.1em;
  margin: 0;
  line-height: 1.4;
  letter-spacing: 1.4
}


.culture-f-row2 {
  width: 100%;
  display: flex;
  margin: 120px 0 90px;
  position: relative;
}

.culture-f-header2 {
  position: absolute;
  top: -16;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 8 10;
  font-weight: 500;
  font-size: .70em;
  letter-spacing: 1;
  border: 1px solid #fff;
}

.culture-f-row2-col1,
.culture-f-row2-col2,
.culture-f-row2-col3 {
  width: 33.333%;
}

.culture-f-row2-col1,
.culture-f-row2-col2 {
  margin-right: 20px;
}

.culture-f-img2,
.culture-f-img3,
.culture-f-img4 {
  width: 100%;
}

.culture-f-row2-text-container1,
.culture-f-row2-text-container2, 
.culture-f-row2-text-container3 {
  height: 110px;
  padding: 0 10;
  display: flex;
  align-items: center;
  text-align: center;
}

.culture-f-row2-text-container1 {
  background-color: #ffdb00 
}

.culture-f-row2-text-container2 {
  background-color: #f8f8f8;
}

.culture-f-row2-text-container3 {
  background-color: #000;
}

.culture-f-row2-text-container1 a,
.culture-f-row2-text-container2 a,
.culture-f-row2-text-container3 a{
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.2em;
}

.culture-f-row2-text-container3 a {
  color: #fff;

}

.culture-f-row2-text-container1 a:hover,
.culture-f-row2-text-container2 a:hover,
.culture-f-row2-text-container3 a:hover{
  text-decoration: underline;
}

/* ----- Restuarant1 Section ----- */

.section-restaurant1 {
  width: 100%;
  background-color: #f8f8f8;
  padding: 0px 5%;
  position: relative;
}

.restaurant1-row1 {
  width: 100%;
  display: flex;
  margin: 60px 0;
  position: relative;
}

.restaurant1-header {
  position: absolute;
  top: -16;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000;
  padding: 8 10;
  font-weight: 500;
  font-size: .70em;
  letter-spacing: 1;
  border: 1px solid #000;
}

.restaurant1-row1-col1 {
  width: 50%;
}

.restaurant1-img1 {
  width: 100%;
}

.restaurant1-row1-col2 {
  width: 50%; 
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant1-text-container {
  height: 450px;
  width: 450px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.restaurant1-line-container {
  display: flex;
  justify-content: center;
}

.restaurant1-line {
  color:#000;
  margin: 30 0 0;
  font-weight: 400;
  font-size: .75em;
  letter-spacing: 2.5;
}

.restaurant1-line:after{
  content: "";
  display: inline-block;
  width: 50;
  vertical-align:middle;
  border-bottom: 1px solid;
}

.restaurant1-line2 {
  color:#000;
  margin: 30 0 0 10;
  font-weight: 400;
  font-size: .75em;
  letter-spacing: 2.5;
}

.restaurant1-text-container:hover > .restaurant1-title{
  text-decoration: underline;
}

.restaurant1-text-container h1 {
  padding: 0;
  margin: 30 32;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.34;
  letter-spacing: 1;
  color: #000;
}

.restaurant1-text-container p {
  padding: 0;
  margin: 0 60;
  font-size: .9em;
  font-weight: 400;
  letter-spacing: 1.1;
  line-height: 1.75;
  color: #000;
}

/* ----- Restuarant2 Section ----- */
.section-restaurant2 {
  width: 100%;
  background-color: #fff;
  padding: 0px 5%;
  position: relative;
  border: 1px solid #fff;
}

.restaurant2-row1 {
  width: 100%;
  display: flex;
  margin: 60px 0 90px;
  position: relative;
}

.restaurant2-header {
  position: absolute;
  top: -16;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000;
  padding: 8 10;
  font-weight: 500;
  font-size: .70em;
  letter-spacing: 1;
  border: 1px solid #000;
}

.restaurant2-row1-col1,
.restaurant2-row1-col2,
.restaurant2-row1-col3 {
  width: 33.333%;
}

.restaurant2-row1-col1,
.restaurant2-row1-col2 {
  margin-right: 20px;
}

.restaurant2-img2,
.restaurant2-img3,
.restaurant2-img4 {
  width: 100%;
}

.restaurant2-row1-text-container1,
.restaurant2-row1-text-container2, 
.restaurant2-row1-text-container3 {
  height: 110px;
  padding: 0 10;
  display: flex;
  align-items: center;
  text-align: center;
}

.restaurant2-row1-text-container1 {
  background-color: #f8f8f8;
}

.restaurant2-row1-text-container2 {
  background-color: #33b8ff;
}

.restaurant2-row1-text-container3 {
  background-color: #ffdb00;
}

.restaurant2-row1-text-container1 a,
.restaurant2-row1-text-container2 a,
.restaurant2-row1-text-container3 a{
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.2em;
}

.restaurant2-row1-text-container1 a:hover,
.restaurant2-row1-text-container2 a:hover,
.restaurant2-row1-text-container3 a:hover{
  text-decoration: underline;
}



.restaurant2-row2 {
  width: 85%;
  margin: 60px auto; 90px;
  position: relative;

}

.restaurant2-header {
  position: absolute;
  top: -16;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000;
  padding: 8 10;
  font-weight: 500;
  font-size: .70em;
  letter-spacing: 1;
  border: 1px solid #000;
}

.restaurant2-row2 h2 {
  text-align: center;
  padding: 35 0 0;
  font-weight: 500;
  font-size: 2.7em;
  letter-spacing: 1
}

.restaurant2-cities-container {
  display: flex;
}

.restaurant2-row2-col1,
.restaurant2-row2-col2,
.restaurant2-row2-col3,
.restaurant2-row2-col4,
.restaurant2-row2-col5 {
  width: 20%;
  text-align: center;
}

.restaurant2-row2-col1,
.restaurant2-row2-col2,
.restaurant2-row2-col3,
.restaurant2-row2-col4 {
  margin-right: 20px;
}

.city {
  background-color: #ffdb00;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  padding: 2 10;
  font-size: .85em;
  letter-spacing: 1;
}

.restaurant2-img2,
.restaurant2-img3,
.restaurant2-img4 {
  width: 100%;
  margin: 20 0;
}
 
.restaurant2-row2-text-container {
  padding: 0 10;
  text-align: center;
}

.restaurant2-row2-text-container a:nth-child(1){
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.2em;
}

.restaurant2-row2-text-container a:nth-child(4){
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: .85em;
  line-height: 1.4;
}

.restaurant2-row2-text-container1 a:hover,
.restaurant2-row2-text-container2 a:hover,
.restaurant2-row2-text-container3 a:hover{
  text-decoration: underline;
}

/* ----- Basically Section ----- */

.section-basic {
  background-color: #f8f8f8;
  padding: 0px 5%;
  position: relative;
}

.basic-row1 {
  width: 100%;
  display: flex;
  margin: 60px 0 150px;
  position: relative;
}

.basic-header {
  position: absolute;
  top: -16;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 8 10;
  font-weight: 500;
  font-size: .70em;
  letter-spacing: 1;
  border: 1px solid #ddd;
}

.basic-row1-col1 {
  width: 50%;
}

.basic-img1 {
  width: 100%;
}

.basic-row1-col2 {
  width: 50%; 
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.basic-text-container {
  height: 450px;
  width: 450px;
  text-align: center;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.basic-line-container {
  display: flex;
  justify-content: center;
}

.basic-line {
  color:#000;
  margin: 30 0 0 10;
  font-weight: 400;
  font-size: .75em;
  letter-spacing: 2.5;
}

.basic-line:after{
  content: "";
  display: inline-block;
  width: 10;
  vertical-align:middle;
  border-bottom: 1px solid;
}

.basic-line2 {
  color:#000;
  margin: 30 0 0 10;
  font-weight: 400;
  font-size: .75em;
  letter-spacing: 2.5;
}

.basic-text-container:hover > .basic-title{
  text-decoration: underline;
}

.basic-text-container h1 {
  padding: 0;
  margin: 72 32 20 32;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.34;
  letter-spacing: 1;
}

.basic-text-container p {
  padding: 0;
  margin: 0 100;
  font-size: .9em;
  font-weight: 500;
  letter-spacing: 1;
  line-height: 1.75;
}


.basic-row2 {
  width: 100%;
  display: flex;
  margin: 0px 0 90px;
  position: relative;
}

.basic-header2 {
  position: absolute;
  top: -16;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 8 10;
  font-weight: 500;
  font-size: .70em;
  letter-spacing: 1;
  border: 1px solid #ddd;
}

.basic-row2-col1,
.basic-row2-col2,
.basic-row2-col3 {
  width: 33.333%;
}

.basic-row2-col1,
.basic-row2-col2 {
  margin-right: 20px;
}

.basic-img2,
.basic-img3,
.basic-img4 {
  width: 100%;
}

.basic-row2-text-container {
  height: 110px;
  padding: 0 10;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

.basic-row2-text-container a{
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.2em;
}

.basic-row2-text-container a:hover{
  text-decoration: underline;
}

/* ----- Video2 Section ----- */

.section-video2 {
  background-color: #e2e1e1;
  width: 100%;
  padding: 80 0;
}

.video2-container {
  width: 57%;
  margin: 0 auto;
}

.video2-row1 {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.shrimp-stir-fry-video {
  width: 100%;
}

.play-button {
  background-color: #fff;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%)
}

.video2-row2 {
  width: 100%;
  background-color: #fff;
}

.video2-text-container {
  width: 500px;
  text-align: center;
  margin: 0 auto;
  padding: 5% 0;
}

.video2-text-container a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 1.75em;
}

.video2-text-container a:hover {
  text-decoration: underline;
}
