/* Colors
Light Grey(background) = #f8f8f8
Dark Grey(background) = #e2e1e1
White(background) = #fff
Yellow(muted) = #fbdc7f
Yellow(brighter) = #ffdb00 
Vanilla = #fbfaf1
Salmon = #ffa67a
Blue = #33b8ff
*/

* {
  font-family: futura-pt,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
}

.section-nav {
  width: 100%;
  height: 50px;
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav-row1 {
  width: 100%;
  height: 100%;
  display: flex;
}

.nav-row1-col1 {
  width: 33.3333%;
  height: 100%;
  color: #fff;
}

.hamburger-container {
  width: 50px;
  height: 50px;
  padding: 20px 0 0 16px;
  cursor: pointer;
}

.hamburger-row1, 
.hamburger-row2, 
.hamburger-row3 {
  height:4px;
  width: 15px;
  border-top: 2px solid white;
}

.nav-row1-col2 {
  width: 33.3333%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo {
  height: 85%;
  width: 90%;
}

.nav-row1-col3 {
  width: 33.3333%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-row1-col3-cola,
.nav-row1-col3-colb {
  display: none;
}

.search-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* ----- General ----- */
.main-container {
  width: 100%;
  position: relative;
  top: 50px;
}

.img {
  width: 100%;
}

.header {
  position: absolute;
  top: 20;
  left: 50%;
  transform: translateX(-50%);
  padding: 8 10;
  font-weight: 500;
  font-size: .70em;
  letter-spacing: 1;
}

.text-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-container {
  display: none;
}

.innerbox {
  width: 300;
  margin: 20% 10%;
  min-height: 80;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-link {
  color: #000;
  text-decoration: none;
}

.text-link:hover > .title{
  text-decoration: underline;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 1.0em;
  font-weight: 700;
  line-height: 1.20;
  letter-spacing: 1;
  text-align: center;
}

.blurb {
  padding: 0;
  margin: 8 10;
  font-size: .9em;
  font-weight: 500;
  letter-spacing: 1;
  line-height: 1.75;
  text-align: center;
}


/* ----- Recipe Section ----- */

.recipe1-row1 {
  width: 100%;
  margin: 0;
  position: relative;
}

.recipe-header {
  background-color: #ffdb00;
}

.recipe1-row1-col1 {
  width: 100%;
}

.recipe1-row1-col2 {
  width: 100%;
  background-color: #ffdb00;
  display: flex;
  justify-content: center;
}


.recipe2-row1 {
  width: 100%;
  margin: 0px 0 0px;
  position: relative;
}

.recip2-row1-col1 {
  width: 100%;
}

.recipe2-row1-col2,
.recipe2-row1-col3 {
  display: none;
}

.recipe2-row1-text-container {
  background-color: #ffdb00;
}

/* ----- Video Sections ----- */
.section-video {
  background-color: #e2e1e1;
  width: 100%;
  padding: 110 0;
}

.video-container {
  width: 94%;
  margin: 0 auto;
}

.video-row1 {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.play-button {
  background-color: #fff;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%)
}

.video-tn {
  width: 100%;
}

.video-row2 {
  width: 100%;
  background-color: #fff;
}

/*
/* ----- Culture Product Section ----- */

.section-culture-p {
  width: 100%;
  position: relative;
}

.culture-p-row1 {
  width: 100%;
  position: relative;
}

.culture-p-header {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

.culture-p-row1-col1 {
  width: 100%;
}

.culture-p-row1-col2 {
  width: 100%; 
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.culture-p-title {
  color: #fff;
}

.culture-p-blurb {
  display: none;
}


/* ----- Culure Food Section ---- */

.section-culture-food {
  width: 100%;
  background-color: #fff;
  position: relative;
}

.culture-f-row1 {
  width: 100%;
  position: relative;
}

.culture-f-header {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  z-index: 10;
}

.culture-f-row1-col1 {
  width: 100%;
  position: relative;
}

.culture-f-text-container {
  display: none;
}

.culture-f-row2 {
  width: 100%;
  display: flex;
  margin: 0px;
  position: relative;
}

.culture-f-row2-col1{
  width: 100%;
}

.culture-f-row2-col2,
.culture-f-row2-col3 {
  display: none;
}

.culture-f-row2-text-container {
  padding: 0 10;
  display: flex;
  align-items: center;
  text-align: center;
}

.culture-f-row2-text-container {
  background-color: #000; 
}

.culture-f-title {
  color: #fff;
}

/* ----- Healthy1 Section ----- */

.section-healthy1 {
  width: 100%;
  position: relative;
}

.healthy1-row1 {
  width: 100%;
  position: relative;
}

.healthy1-header {
  background-color: #ffa67a;
  color: #000;
  border: 1px solid #000;
}

.healthy1-row1-col1 {
  width: 100%;
}

.healthy1-row1-col2 {
  width: 100%; 
  background-color: #ffa67a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.healthy1-text-container {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.healthy1-blurb {
  display: none;
}

/* ----- Healthy2 Section ----- */
.section-healthy2 {
  width: 100%;
  position: relative;
}

.healthy2-row2 {
  width: 100%;
  display: flex;
  position: relative;
}

.healthy2-header {
  background-color: #ffa67a;
  color: #000;
  border: 1px solid #000;
}

.healthy2-row2-col1{
  width: 100%;
}
.healthy2-row2-col2,
.healthy2-row2-col3 {
  display: none;
}

.healthy2-img2{
  width: 100%;
}

.healthy2-row2-text-container {
  background-color: #ffa67b;
}

/* ----- Basically Section ----- */

.section-basic {
  position: relative;
}

.basic-row1 {
  width: 100%;
  position: relative;
}

.basic-header {
  background-color: #fff;
  border: 1px solid #ddd;
}

.basic-row1-col1 {
  width: 100%;
}

.basic-row1-col2 {
  width: 100%; 
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.basic-blurb {
  display: none;
}


.basic-row2 {
  width: 100%;
  position: relative;
}

.basic-header2 {
  background-color: #fff;
  border: 1px solid #ddd;
}

.basic-row2-col1 {
  width: 100%:
}
.basic-row2-col2,
.basic-row2-col3 {
  display: none;
}

*/