@media only screen and (min-width: 768px) {
  
  /* -----Section General -----*/
  .text-container {
    display: block;
    border: 1px solid transparent;
  }
  
  .line-container {
    display: flex;
    justify-content: center;
  }
  
  .line {
    margin: 30 0 0 10;
    font-weight: 500;
    font-size: .75em;
    letter-spacing: 2.5;
  }
  
  .line:after{
    content: "";
    display: inline-block;
    width: 10;
    vertical-align:middle;
    border-bottom: 1px solid;
  }

  .line2 {
    margin: 30 0 0 10;
    font-weight: 500;
    font-size: .75em;
    letter-spacing: 2.5;
  }
  
  .innerbox {
    margin: 10% auto;
    min-height: 0;
  }
  
  /* ----- SECTIONS SPECIFIC ----- */
  .culture-p-line,
  .culture-p-line2 {
    color: #fff;
  }
  
  .culture-p-line:after,
  .restaurant-line:after,
  .podcast-line:after {
    width: 60;
  }
  
  
  /* ----- Aside Section ----- */
  .aside-window {
    width: 310;
    left: -310;
  }
  
  .aside-menu-item,
  .aside-menu-item-last {
    font-size: .9em;
  }
  
  .aside-bottom {
    background-color: #f8f8f8;
    height: 44vh;
    display: flex;
    align-items: center;
  }
  
  .aside-container {
    width: 100%;
  }
}