@media only screen and (min-width: 768px) {
  /* -----Nav Bar ----- */
  .hamburger-container {
    padding: 20px 0 0 16px;
  }
  
  .nav-row1-col3 {
    width: 33.3333%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .nav-row1-col3-colb {
    display: flex;
    font-size: .60em;
    font-weight: 400;
  }
  
  .subscribe-text{
    color: #fff;
    text-decoration: none;
    letter-spacing: 2.5px;
  }

  .nav-row1-col3-colb a:hover {
    text-decoration: underline;
  }
  
  /* ----- Section Title ----- */
  .title-row1 {
    margin: 52 0 16;
  }

  .title-header {
    margin-bottom: 28;
  }

  .title-blurb {
    margin: 36 0 0;
  }

  .social-container {
    margin: 38 auto 36 auto;
    width: 200;
    height: 40;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ----- Section Main Image ----- */
  .main-image-caption {
    padding: 12 0 24 32;
  }
  
  /* ----- Section Article ----- */
  .section-article p {
    font-size: 1.30em;
    line-height: 1.55;
  }

  .article-end {
    padding: 18 0;
  }
  
  .ads {
    margin-bottom: 180;
  }
  
  /* ----- Section ReadMore ----- */
  .readmore-title{
    padding: 14 0;
  }

  .readmore-row1,
  .readmore-row2{
    display: flex;
  }

  .readmore-col::after{
    margin-top: -100px;
    height: 100px;
  }

  .readmore-col:hover::after {
    margin-top: -70px;
    height: 70px;
  }

  .readmore-text-abs {
    align-items: center;
  }

  .readmore-text-container {
    height: 214;
    width: 100%;
  }

  .readmore-header{
    margin: 4 auto 0;
  }

  .readmore-article-title{
    height: 50%;
    margin: 12 0 0;
    padding: 0 48;
  }

  .readmore-author{
    margin:24 0 0;
    padding: 0 48;
  }
  
  /* ----- Footer ----- */
  
  .footer-row1-co1 p {
    width: 100%;
    padding: 0 48;
  }
  
  .footer-social-container {
    margin: 48 auto 44;
  }

  .footer-row2 {
    display: flex;
    padding: 0 100;
  }
  
  .footer-row2-co2,
  .footer-row2-co3 {
    width: 50%;
  }

  .footer-row2-co2 h3,
  .footer-row2-co3 h3 {
    cursor:default;
  }

  .footer-row2-co2 h3:hover,
  .footer-row2-co3 h3:hover {
    text-decoration: none;
  }

  .triangle-container {
    display:none;
  }

  .footer-row2-co2 ul,
  .footer-row2-co3 ul{
    display: none;
  }

  .footer-line {
    margin: 0 100 0;
  }

  ul.footer-row3-co1 {
    margin-bottom: 20;
  }

  .footer-row3-co1 li {
    display: inline;
  }

  .footer-row3-co2 {
    width: 100%;
    text-align: center;
  }

  .footer-row3-co2 p{
    margin: 0;
    font-weight: 300;
    font-size: .75em;
    letter-spacing: 2.5;
  }

  .footer-row4 {
    padding: 10 100;
    text-align: center;
  }

  .footer-row4 p {
    padding: 8 0 28;
    font-weight: 300;
    font-size: .5em;
    letter-spacing: 1;
    line-height: 2;
  }
}