@media only screen and (min-width: 768px) {
  
  /* -----Section General -----*/  
  .text-container {
    display: block;
    border: 1px solid transparent;
  }
  
  .line-container {
    display: flex;
    justify-content: center;
  }
  
  .line {
    margin: 30 0 0 10;
    font-weight: 500;
    font-size: .75em;
    letter-spacing: 2.5;
  }
  
  .line:after{
    content: "";
    display: inline-block;
    width: 10;
    vertical-align:middle;
    border-bottom: 1px solid;
  }

  .line2 {
    margin: 30 0 0 10;
    font-weight: 500;
    font-size: .75em;
    letter-spacing: 2.5;
  }
  
  .innerbox {
    margin: 10% auto;
    min-height: 0;
  }
  
  
  /* ----- SECTIONS SPECIFIC ----- */
  .culture-p-line,
  .culture-p-line2 {
    color: #fff;
  }
  
  .culture-p-line:after,
  .restaurant-line:after,
  .podcast-line:after {
    width: 60;
  }
  
  
  /* ----- Aside Section ----- */
  .aside-window {
    width: 310;
    left: -310;
  }
  
  .aside-menu-item,
  .aside-menu-item-last {
    font-size: .9em;
  }
  
  .aside-bottom {
    background-color: #f8f8f8;
    height: 44vh;
    display: flex;
    align-items: center;
  }
  
  .aside-container {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  
  /* ----- Nav Bar ----- */
  .hamburger-container:hover,
  .search-container:hover {
    background-color: #333;
  }
  
  .nav-row1-col3-cola,
  .nav-row1-col3-colb {
    display: block;
    font-size: .60em;
    font-weight: 400;
    color: #fff;
  }

  .nav-row1-col3-cola {
    padding-right: 30px;
  }
  
  .nav-row1-col3-cola a,
  .nav-row1-col3-colb a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 2.5px;
  }

  .nav-row1-col3-cola a:hover,
  .nav-row1-col3-colb a:hover {
    text-decoration: underline;
  }
  
  /* ----- Section General ----- */
  .section {
    background-color: #f8f8f8;
    padding: 0px 5%;
    position: relative;
  }
  
  .header {
    top: -16;
  }
  
  .innerbox {
    width: 400;
    margin: 0 auto;
    min-height: none;
    /*border: 1px solid red;*/
  }

  .title {
    padding:  0;
    margin: 0 0 20;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.34;
    letter-spacing: 1;
  }

  .blurb {
    padding: 0;
    margin: 0;
    font-size: .9em;
    font-weight: 500;
    letter-spacing: 1;
    line-height: 1.75;
  }
  /* ----- 1Col Sections ----- */
  .section-1col {
    width: 100%;
    background-color: #fff;
    padding: 0px 5%;
    position: relative;
    border: 1px solid #fff;
  }

  .one-col-row1 {
    width: 100%;
    margin: 60px 0;
    position: relative;
  }

  .onecol-col1 {
    width: 100%;
    position: relative;
  }

  .culture-f-text-container {
    position: absolute;
    width: 45%;
    background-color: #ffdb00;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .culture-f-title {
    font-size: 2.1em;
    margin: 0;
  }
  
  /* ----- 2Col Sections ----- */
  .two-col-row1 {
    display: flex;
    margin: 60px 0 150px;
  }

  .twocol-col1 {
    width: 50%;
  }

  .twocol-col2 {
    width: 50%; 
    align-items: center;
  }
  
  /* ----- 3Col Sections ----- */
  .three-col-row1 {
    width: 100%;
    display: flex;
    margin: 0px 0 90px;
  }

  .threecol-col1,
  .threecol-col2,
  .threecol-col3 {
    width: 33.333%;
    display: block;
  }

  .threecol-col1,
  .threecol-col2 {
    margin-right: 20px;
  }

  .threecol-text-container {
    height: 110px;
    padding: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .threecol-innerbox {
    width: 280;
    height: 100%;
    margin: 0;
    /*border: 1px solid green;*/
  }

  .threecol-text-link{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: .5em;  
  }
  
  .threecol-title {
    padding:  0;
    margin: 0;
    font-size: 2.2em;
    font-weight: 700;
    line-height: 1.34;
    letter-spacing: 1;
  }
  
  /* ----- 5Col Sections ----- */
  .five-col-row1 {
    width: 775;
    margin: 60px auto; 90px;
    position: relative;
  }

  .five-col-row1 a h2 {
    text-align: center;
    padding: 35 0 0;
    font-weight: 500;
    font-size: 2.7em;
    letter-spacing: 1;
  }
  
  .five-col-row1 a{
    text-decoration: none;
  }
  
  .five-col-row1 h2:hover {
    text-decoration: underline;
  }
  
  .cities-container {
    display: flex;
  }

  .fivecol-col1,
  .fivecol-col2,
  .fivecol-col3,
  .fivecol-col4,
  .fivecol-col5 {
    width: 20%;
    text-align: center;
    display: block;
  }

  .fivecol-col1,
  .fivecol-col2,
  .fivecol-col3,
  .fivecol-col4 {
    margin-right: 20px;
  }

  .city {
    padding: 2 10;
    font-size: .85em;
  }

  .restaurant3-img1,
  .restaurant3-img2,
  .restaurant3-img3,
  .restaurant3-img4,
  .restaurant3-img5 {
    margin: 15 0 20;
  }
 
  .fivecol-text-container:hover > .restaurant,
  .fivecol-text-container:hover > .fivecol-text-link {
    text-decoration: underline;
  }
  
  /*----- Culture Section -----*/
  .culture-mp-text-container1 {
    background-color: #ffdb00;
  }
  
  .culture-mp-text-container2 {
    background-color: #f8f8f8;
  }
  
  .culture-mp-text-container3 {
    background-color: #000;
  }
  
  .culture-mp-text-container1 .culture-mp-title,
  .culture-mp-text-container2 .culture-mp-title{
    color:#000;
  }
  
   /*----- Healtyish Section -----*/
  .healthy2-text-container1 {
    background-color: #ffa67a;
  }
  
  .healthy2-text-container2 {
    background-color: #fbfaf1;
  }
  
  .healthy2-text-container3 {
    background-color: #fbdc7f;
  }
  
  /*----- Restaurant Section -----*/
  .restaurant2-text-container1 {
    background-color: #f8f8f8;
  }
  
  .restaurant2-text-container2 {
    background-color: #33b8ff;
  }
  
  .restaurant2-text-container3 {
    background-color: #ffdb00;
  }
  