* {
  font-family: "futura-pt", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
}

/* -----Nav Bar ----- */
.section-nav {
  width: 100%;
  height: 50px;
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav-row1 {
  width: 100%;
  height: 100%;
  display: flex;
}

.nav-row1-col1 {
  width: 33.3333%;
  height: 100%;
  color: #fff;
}

.hamburger-container {
  width: 50px;
  height: 50px;
  padding: 20px 0 0 16px;
  cursor: pointer;
}

.hamburger-row1,
.hamburger-row2,
.hamburger-row3 {
  height: 4px;
  width: 15px;
  border-top: 2px solid white;
}

.close-button-container {
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
}

.nav-row1-col2 {
  width: 33.3333%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo {
  height: 85%;
  width: 90%;
}

.nav-row1-col3 {
  width: 33.3333%;
  height: 100%;
}

.nav-row1-col3-colb {
  display: none;
}

.nav-row1-col3-colc {
  float: right;
}

.search-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* ----- Section Title ----- */
.main-container {
  width: 100%;
  position: relative;
  padding-top: 50px;
}

.section-title {
  width: 100%;
}

.title-row1 {
  width: 100%;
  text-align: center;
  margin: 36px 0 16px;
}

.title-header {
  margin-bottom: 28px;
}

.title-header-text {
  background-color: #000;
  padding: 8px;
  font-weight: 300;
  font-size: 0.6em;
  letter-spacing: 1.5px;
}

.title-header-text a {
  color: #fff;
  text-decoration: none;
}

.title-header-text a:hover {
  text-decoration: underline;
}

.title-text-container {
  width: 100%;
  margin: 0 auto;
}

.title-text {
  font-weight: 700;
  font-size: 1.9em;
  margin: 0 24;
  letter-spacing: 2.5px;
  line-height: 1.4em;
}

.title-blurb {
  font-weight: 500;
  font-size: 0.9em;
  letter-spacing: 0.6px;
  margin: 24px 0 0;
}

.title-author {
  margin: 40px 0 0;
  font-weight: 500;
  font-size: 0.65em;
  letter-spacing: 1.3px;
}

.title-author a {
  color: #000;
  text-decoration: none;
}

.title-author a:hover {
  text-decoration: underline;
}

.title-date {
  margin: 14px 0 0;
  font-weight: 400;
  font-size: 0.7em;
  letter-spacing: 0.8px;
}

.social-container {
  margin: 38px auto 0 auto;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-fb,
.social-tw {
  margin-right: 24px;
  width: 40px;
  height: 40px;
}

.social-em {
  width: 40px;
  height: 40px;
}

.hover:hover {
  fill: #ffdb00;
}

/* ----- Section Main Image ----- */
.section-main-image {
  width: 100%;
  margin: 0;
}

.main-image {
  width: 100%;
}

.main-image-caption {
  padding: 12px 0 0 16px;
  font-weight: 400;
  font-size: 0.7em;
  letter-spacing: 1px;
  line-height: 1.25em;
}

/* ----- Section Article ----- */

.section-article {
  position: relative;
  padding: 0 16px 0;
  width: 100%;
}

.section-article p {
  font-family: "Times New Roman";
  font-size: 1.15em;
  line-height: 1.75em;
}

.section-article p a,
.section-article p del,
.section-article p strong {
  color: #000;
  font-family: "Times New Roman";
}

.section-article h2 {
  font-size: 1.7em;
  font-weight: 700;
  width: 90%;
  letter-spacing: 1.2px;
}

.article-image-container {
  margin: 50px 0;
}

.article-image {
  width: 100%;
}

.article-image-caption1 {
  font-family: "Times New Roman";
  padding: 8px 0 16px;
  font-weight: 400;
  font-size: 0.9em;
  letter-spacing: 1px;
}

.article-image-caption1 a {
  font-family: "Times New Roman";
  color: #000;
}
.article-end {
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 20px 0;
  margin: 32px 0;
}

.article-end span {
  padding-right: 20px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.article-end span a {
  color: #000;
  text-decoration: none;
}

.article-video-container {
  margin: 40px 0;
  position: relative;
  font-family: "serif";
}

.article-video-text {
  position: absolute;
  color: #fff;
  margin: 8px 0 0 16px;
  font-family: sans-serif;
  font-size: 1em;
}

.article-video {
  width: 100%;
}

.ads {
  margin-bottom: 150px;
}

/* ----- Section ReadMore ----- */
.readmore-title {
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 8px 0;
  text-align: center;
}

.readmore-title span {
  padding-right: 20px;
  font-size: 0.65em;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.readmore-row1,
.readmore-row2 {
  width: 100%;
  display: block;
}

.readmore-col {
  width: 100%;
  position: relative;
}

.readmore-col::after {
  display: block;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    #000 100%
  );
  margin-top: -225px;
  height: 225px;
  content: "";
  transition: all 0.1s ease-in-out;
}

.readmore-col:hover::after {
  margin-top: -150px;
  height: 150px;
}

.readmore-col img {
  width: 100%;
}

.readmore-text-abs {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: 87;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.readmore-text-container {
  position: relative;
  width: 100%;
  height: 200px;
}

.readmore-header {
  width: 90px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  padding: 8px 10px;
  font-weight: 600;
  font-size: 0.6em;
  letter-spacing: 1.5px;
  color: #000;
}

.readmore-article-title {
  color: #fff;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 1.6px;
  line-height: 1.25em;
  padding: 0 8px;
  margin: 28px 4px 0;
}

.readmore-author {
  width: 100%;
  height: 20%;
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 0.6em;
  letter-spacing: 2px;
  margin-top: 20px;
}

/* ----- Footer ----- */
.section-footer {
  position: relative;
  background-color: #000;
  color: #fff;
  margin-top: 128px;
}

.footer-row1 {
  width: 100%;
  padding-top: 48px;
}

.footer-row1-co1 {
  width: 100%;
  text-align: center;
}

.footer-row1-co1 img {
  width: 110px;
  padding-bottom: 30px;
}

.footer-row1-co1 p {
  margin: 0 auto;
  width: 250px;
  font-family: "Time New Roman";
  font-weight: 500;
  line-height: 1.75em;
  letter-spacing: 1.5px;
}

.footer-social-container {
  margin: 32px auto 48px;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 32px;
}

.icon-end {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon:hover > path,
.icon-end:hover > path {
  fill: #ffdb00;
}

.icon:hover > g path,
.icon-end:hover > g path {
  fill: #ffdb00;
}

.footer-row2-co2,
.footer-row2-co3 {
  width: 100%;
}

.footer-more-container {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.footer-row2-co2 h3,
.footer-row2-co3 h3 {
  margin: 0;
  height: 10px;
  font-weight: 400;
  font-size: 0.7em;
  letter-spacing: 1.75px;
  cursor: pointer;
}

.footer-row2-co2 h3:hover,
.footer-row2-co3 h3:hover {
  text-decoration: underline;
}

.triangle-container {
  height: 10px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.triangle-down {
  height: 4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rollBack {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}

.footer-row2-co2 ul,
.footer-row2-co3 ul {
  padding-top: 10px;
  text-align: center;
  display: none;
}

.footer-row2-co2 ul li,
.footer-row2-co3 ul li {
  margin: 0 0 48px 0;
  font-weight: 300;
  font-size: 0.7em;
  letter-spacing: 1.75px;
  list-style: none;
}

.footer-row2-co2 ul li a,
.footer-row2-co3 ul li a {
  color: #fff;
}

.footer-line {
  margin: 8px 40px 6px;
  border: 1px solid #fff;
}

.footer-row3 {
  width: 100%;
  margin: 48px 0 0;
  display: block;
}

.footer-row3-co1 {
  width: 100%;
  font-weight: 300;
  font-size: 0.6em;
  letter-spacing: 1.5px;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-row3-co1 li {
  margin-bottom: 48px;
}

.footer-row3-co1 a {
  color: #fff;
}

.footer-row3-co2 {
  width: 100%;
  text-align: center;
}

.footer-row3-co2 p {
  margin: 0;
  font-weight: 300;
  font-size: 0.75em;
  letter-spacing: 2.5px;
}

.footer-row4 {
  padding: 10px 39px;
  text-align: center;
}

.footer-row4 p {
  padding: 8px 0 28px;
  font-weight: 300;
  font-size: 0.5em;
  letter-spacing: 1px;
  line-height: 2em;
}

.footer-row4 p a {
  color: #fff;
}

/* ----- Section Aside ----- */
.section-aside {
  display: none;
}

/* ----- Bottom Card ----- */
.section-bottom-card {
  display: none;
}

/* ----- Nav Expanded ----- */

.section-nav-expanded {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding-top: 80px;
  position: fixed;
  z-index: 89;
}

.nav-hidden {
  top: -100vh;
  transition: all 0.4s ease-out 0.5s;
}

.nav-active {
  top: 0vh;
  transition: all 0.4s ease-out 0.2s;
}

.expanded-nav-list-container {
  width: 300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.menu-text-hidden {
  opacity: 0;
  transition: all 0.4s linear;
}

.menu-text-active {
  opacity: 1;
  transition: all 0.4s linear 0.8s;
}

.expanded-nav-list-container li {
  padding: 16px 0;
}

.expanded-nav-list-container li a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}

.expanded-nav-list-container li a:hover {
  text-decoration: underline;
}

.expanded-nav-social {
  margin: 40px auto 0;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.expanded-nav-social svg {
  width: 20px;
  height: 20px;
  margin: 0;
}

.blackout {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
}

.blackout-hidden {
  opacity: 0;
  z-index: -100;
  transition: all 0.2s ease-out 0.7s;
}

.blackout-active {
  opacity: 0.8;
  z-index: 88;
  transition: all 0.2s ease-out;
}
