/* Colors
Salmon = #ffa67a
Light Green Grey = #f4f2e7
Dark Green Grey = #dedaca
Light Grey(background) = #f8f8f8
Dark Grey(background) = #e2e1e1
White(background) = #fff
Yellow(muted) = #fbdc7f
Yellow(brighter) = #ffdb00 
Vanilla = #fbfaf1
Mint = #d1f9f0
Light BLue = #daf3f5
Canary Yellow = #fbf0a0

Blue = #33b8ff
*/
@font-face {
  font-family: 'grouchregular';
  src: url('../fonts/grouch_regular-webfont.woff2') format('woff2'),
       url('../fonts/grouch_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'renner';
  src: url('../fonts/renner-medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'renner-light';
  src: url('../fonts/renner-light.otf') format('opentype');
  font-weight: light;
  font-style: light;
}

* {
  font-family: futura-pt,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
}

/* -----Nav Bar----- */
.section-nav {
  width: 100%;
  height: 50px;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav-row1 {
  width: 100%;
  height: 100%;
  display: flex;
}

.nav-row1-col1 {
  width: 33.3333%;
  height: 100%;
  color: #fff;
  
}

.hamburger-container {
  width: 50px;
  height: 50px;
  padding: 20px 0 0 16px;
  cursor: pointer;
}

.hamburger-row1, 
.hamburger-row2, 
.hamburger-row3 {
  height:4px;
  width: 15px;
  border-top: 2px solid #000;
}

.nav-row1-col2 {
  width: 33.3333%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo {
  height: 55%;
}

.nav-row1-col3 {
  width: 33.3333%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-row1-col3-cola,
.nav-row1-col3-colb {
  font-size: .60em;
  font-weight: 400;
}

.nav-row1-col3-cola {
  padding-right: 30px;
}

.nav-row1-col3-cola a,
.nav-row1-col3-colb a{
  color: #000;
  text-decoration: none;
  letter-spacing: 2.5px;
}

.nav-row1-col3-cola a:hover,
.nav-row1-col3-colb a:hover {
  text-decoration: underline;
}

.search-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* ----- Next Button ----- */
.next {
  background-color: #000;
  width: 80;
  height: 80;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: none;
  color: #fff;
  font-size: .65em;
  font-weight: 300;
  letter-spacing: 2.5;
  cursor: pointer;
  z-index: 100;
  outline: none;
}

/*
@keyframes pulse-single {
  from{ width: 80;
        height: 80;}
  to {width:70;
      height:70;
      background-color: #333;}
}

.pulse:active {
  animation: pulse-single .2s 1 ease-in-out;
}
*/

/* ----- Main ------ */
.carousel-container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.carousel-slideUp {
  display: block;
  width: 50%;
  height: 100vh;
}

.carousel-slideDown {
  display: block;
  position: relative;
  width: 50%;
  height: 100vh;
  top: -1500vh;
}

/* ----- Cards ---- */
.lightgreen {
  background-color: lightgreen;
}

.lightblue {
  background-color: lightblue;
}

.lightyellow {
  background-color: lightyellow;
}

.lightcyan {
  background-color: lightcyan;
}

.divs {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* -----Left Column ----- */
/* -----Card Type 1 ----- */
.col1-image {
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: 50% 50%;
}

/* -----Card Type 2 ----- */
.type-2col1 {
  position: relative;
  background-color: #f4f2e7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.type-2col1-container {
  width: 75%;
  max-width: 440px;
}

.type-2col1-text {
  text-align: center;
}

.type-2col1-text p {
  font-family: 'renner-light', serif;
  font-size: .8em;
  letter-spacing: 1.3;
}

.type-2col1-text a {
  color: #000;
  text-decoration: none;
  line-height: 1.5;
}

.type-2col1-text a:hover {
  text-decoration: underline;
}

.type-2col1-text a h3 {
  font-family: 'renner', serif;
  font-size: 1em;
  letter-spacing: 1.1;
  padding: 16 40;
}

.type-2col1-blurb {
  display: none;
}

.triangle {
  margin: 0 auto 32;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

.type-2col1-image-container {
  text-align: center;
}


/* -----Right Column ----- */
/* -----Card Type 3 ----- */
.type-3col2 {
  display: flex;
  align-items: center;
}

.type-3col2-text-container {
  width: 350;
  margin: 0 auto 0 80;
}

.type-3col2-text {
  width: 100%;
}

.type-3col2-category {
  display: none;
}

.type-3col2-text a {
  text-decoration: none;
  color: #000;
}

.type-3col2-text a h1 {
  font-family: 'grouchregular', serif;
  font-weight: 500;
  font-size: 3.1em;
  margin-top: 0;
  margin-bottom: 16;
  line-height: 1.2;
  letter-spacing: -3;
}

.type-3col2-text a:hover {
  text-decoration: underline;
}

.type-3col2-blurb-container {
  width: 60%;
}

.type-3col2-blurb {
  margin-top: 0;
  font-family: 'renner', serif;
  font-weight: bold;
  font-size: 1.15em;
  line-height: 1.4;
}

/* -----Card Type 4 ----- */
.type-4col2 {
  position: relative;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.type-4col2-container {
  width: 70%;
  text-align: center;
}

.type-4col2-text p {
  font-family: 'renner-light', serif;
  font-size: .8em;
  letter-spacing: 1.3;
  padding-top: 16
}

.type-4col2 a {
  color: #000;
  text-decoration: none;
}

.type-4col2 a:hover {
  text-decoration: underline;
}

.type-4col2 a h3 {
  font-family: 'renner', serif;
  font-size: 1em;
  letter-spacing: 1.1;
  padding: 0 40;
  line-height: 1.5;
}

.triangle-up {
  margin: 32 auto 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #d1f9f0;
}

.type-4col2-blurb {
  display: none;
}

/* ----- Card BgColors ----- */
/* -----Card 1 ----- */
.card1-col2 {
  background-color: #ffa67a;
}

/* -----Card 2 ----- */
.card2-col2,
.card8-col2,
.card12-col2 {
  background-color: #dedaca;
}